@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6814 0.1479 248.4850);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9670 0.0029 264.5419);
    --secondary-foreground: oklch(0.4537 0.0223 243.3636);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.5583 0.0189 250.9718);
    --accent: oklch(0.9598 0.0240 219.7200);
    --accent-foreground: oklch(0.4160 0.1089 257.8241);
    --destructive: oklch(0.6380 0.1944 16.0077);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9296 0.0052 247.8799);
    --input: oklch(0.9296 0.0052 247.8799);
    --ring: oklch(0.6814 0.1479 248.4850);
    --chart-1: oklch(0.6814 0.1479 248.4850);
    --chart-2: oklch(0.6047 0.1700 255.0325);
    --chart-3: oklch(0.5420 0.1725 258.3779);
    --chart-4: oklch(0.4696 0.1445 259.5467);
    --chart-5: oklch(0.4160 0.1089 257.8241);
    --radius: 1.025rem;
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6814 0.1479 248.4850);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9598 0.0240 219.7200);
    --sidebar-accent-foreground: oklch(0.4160 0.1089 257.8241);
    --sidebar-border: oklch(0.9296 0.0052 247.8799);
    --sidebar-ring: oklch(0.6814 0.1479 248.4850);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-2xs: 0 1px 24px 0px hsl(0 0% 0% / 0.18);
    --shadow-xs: 0 1px 24px 0px hsl(0 0% 0% / 0.18);
    --shadow-sm: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 1px 2px -1px hsl(0 0% 0% / 0.37);
    --shadow: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 1px 2px -1px hsl(0 0% 0% / 0.37);
    --shadow-md: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 2px 4px -1px hsl(0 0% 0% / 0.37);
    --shadow-lg: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 4px 6px -1px hsl(0 0% 0% / 0.37);
    --shadow-xl: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 8px 10px -1px hsl(0 0% 0% / 0.37);
    --shadow-2xl: 0 1px 24px 0px hsl(0 0% 0% / 0.93);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.37;
    --shadow-blur: 24px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
  }
  .dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6814 0.1479 248.4850);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.4160 0.1089 257.8241);
    --accent-foreground: oklch(0.9014 0.0494 238.0751);
    --destructive: oklch(0.6380 0.1944 16.0077);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6814 0.1479 248.4850);
    --chart-1: oklch(0.7614 0.1181 240.2680);
    --chart-2: oklch(0.6814 0.1479 248.4850);
    --chart-3: oklch(0.6047 0.1700 255.0325);
    --chart-4: oklch(0.5420 0.1725 258.3779);
    --chart-5: oklch(0.4696 0.1445 259.5467);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.6814 0.1479 248.4850);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.4160 0.1089 257.8241);
    --sidebar-accent-foreground: oklch(0.9014 0.0494 238.0751);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.6814 0.1479 248.4850);
    --radius: 1.025rem;
    --sidebar: oklch(0.2046 0 0);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.37;
    --shadow-blur: 24px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 24px 0px hsl(0 0% 0% / 0.18);
    --shadow-xs: 0 1px 24px 0px hsl(0 0% 0% / 0.18);
    --shadow-sm: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 1px 2px -1px hsl(0 0% 0% / 0.37);
    --shadow: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 1px 2px -1px hsl(0 0% 0% / 0.37);
    --shadow-md: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 2px 4px -1px hsl(0 0% 0% / 0.37);
    --shadow-lg: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 4px 6px -1px hsl(0 0% 0% / 0.37);
    --shadow-xl: 0 1px 24px 0px hsl(0 0% 0% / 0.37), 0 8px 10px -1px hsl(0 0% 0% / 0.37);
    --shadow-2xl: 0 1px 24px 0px hsl(0 0% 0% / 0.93);
  }
  .theme {
    --font-sans: Inter, sans-serif;
    --font-mono: JetBrains Mono, monospace;
    --font-serif: Source Serif 4, serif;
    --radius: 1.025rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
  html {
    font-size: 110%;
    font-weight: 501; /* standardowa wartość pogrubienia to 400 (normal), 500 (medium), 700 (bold) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}